Tree {
  /* actual values */
  background-color: #FAF #AAF 100%;
  background-image: none;
  color: #00ffff;
  font-family: "Segoe UI";
  font-size: 12;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  visibility: visible;
}